.canvas-wrap {
  width: fit-content;
  margin: 50px auto;
}

#draw-canvas {
  border: 1px solid #cccccc;
  touch-action: none;
}

#player-canvas {
  display: block;
  border: 1px solid #cccccc;
}

#passed-drawing-time {
  display: inline-block;
  width: 3em;
}